<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="CardImg" >
    <img class="img" src="assets/images/Milan.jpg" />

    <ion-content>
      <ion-fab  vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button color="light" id="fab" >
          <ion-icon name="heart" id="heart"></ion-icon>
        </ion-fab-button>
      </ion-fab> 
    </ion-content>

    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Milan,Italy</ion-card-title>
    </ion-card-header>

    <ion-card-content >
      Milan, a metropolis in Italy's northern Lombardy region, is a global capital of fashion and design. Home to the national stock exchange, it’s a financial hub also known for its high-end restaurants and shops.    
    </ion-card-content>

    
  </ion-card>


  <ion-card class="CardImg" >
    <img class="img" src="assets/images/Seoul.jpg" />

    <ion-content>
      <ion-fab  vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button color="light" id="fab" >
          <ion-icon name="heart" id="heart"></ion-icon>
        </ion-fab-button>
      </ion-fab> 
    </ion-content>

    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Seoul, South Korea</ion-card-title>
    </ion-card-header>

    <ion-card-content >     
      Seoul, the capital of South Korea, is a huge metropolis where modern skyscrapers, high-tech subways and pop culture meet Buddhist temples, palaces and street markets.     
    </ion-card-content>
    
  </ion-card>


  <ion-card class="CardImg" >
    <img class="img" src="assets/images/Banglore.jpg" />

    <ion-content>
      <ion-fab  vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button color="light" id="fab" >
          <ion-icon name="heart" id="heart"></ion-icon>
        </ion-fab-button>
      </ion-fab> 
    </ion-content>

    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Banglore, India</ion-card-title>
    </ion-card-header>

    <ion-card-content >
      
          Bengaluru (also called Bangalore) is the capital of India's southern Karnataka state. The center of India's high-tech industry, the city is also known for its parks and nightlife.     </ion-card-content>

    
  </ion-card>

  
  <ion-card class="CardImg" >
    <img class="img" src="assets/images/England.jpg" />
    <ion-content>
      <ion-fab  vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button color="light" id="fab" >
          <ion-icon name="heart" id="heart"></ion-icon>
        </ion-fab-button>
      </ion-fab> 
    </ion-content>

    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>London, UK</ion-card-title>
    </ion-card-header>

    <ion-card-content >
      London is the capital and largest city of England and the United Kingdom. The city stands on the River Thames in southeast England, at the head of its 50-mile (80 km) estuary leading to the North Sea. London has been a major settlement for two millennia.
    </ion-card-content>
  </ion-card>


  
  <ion-card class="CardImg" >
    <img class="img" src="assets/images/Paris.jpg" />
   
    <ion-content>
      <ion-fab  vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button color="light" id="fab" >
          <ion-icon name="heart" id="heart"></ion-icon>
        </ion-fab-button>
      </ion-fab> 
    </ion-content>

    <ion-card-header>
      
       <ion-card-subtitle>Destination</ion-card-subtitle>
    
       <ion-card-title>Paris, Europe</ion-card-title>     
    </ion-card-header>
   
    <ion-card-content >
      
      The most populous city of France. Since the 17th century, Paris has been one of Europe's major centres of finance, diplomacy, commerce, fashion, gastronomy, science and arts.       
      Paris is a major railway, highway, and air-transport hub served by two international airports.    

           
    </ion-card-content>

    
    
  </ion-card>


</ion-content>
