<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="CardImg" >
    <img class="img" id="img1" src="https://images.unsplash.com/photo-1602010510394-ba139feda07f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80"/>
     
    <ion-content>
      <ion-fab  vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button color="light" id="fab" (click)="like('img1')">
          <ion-icon name="heart" id="heart"></ion-icon>
        </ion-fab-button>
      </ion-fab> 
    </ion-content>

    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Milan, Italy</ion-card-title>
    </ion-card-header>

    <ion-card-content >
      Milan, a metropolis in Italy's northern Lombardy region, is a global capital of fashion and design. Home to the national stock exchange, it’s a financial hub also known for its high-end restaurants and shops.    
    </ion-card-content>

    
  </ion-card>


  <ion-card class="CardImg" >
    <img class="img" id="img2" src="https://images.unsplash.com/photo-1556513584-e1cf4603b0ad?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1789&q=80" />

    <ion-content>
      <ion-fab  vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button color="light" id="fab" (click)="like('img2')">
          <ion-icon name="heart" id="heart"></ion-icon>
        </ion-fab-button>
      </ion-fab> 
    </ion-content>

    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Seoul, South Korea</ion-card-title>
    </ion-card-header>

    <ion-card-content >     
      Seoul, the capital of South Korea, is a huge metropolis where modern skyscrapers, high-tech subways and pop culture meet Buddhist temples, palaces and street markets.     
    </ion-card-content>
    
  </ion-card>


  <ion-card class="CardImg" >
    <img class="img" id="img3" src="https://i.pinimg.com/originals/66/7d/75/667d75eb4e4ce16bd89b262e27ed1c2d.jpg" />

    <ion-content>
      <ion-fab  vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button color="light" id="fab" (click)="like('img3')" >
          <ion-icon name="heart" id="heart"></ion-icon>
        </ion-fab-button>
      </ion-fab> 
    </ion-content>

    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Banglore, India</ion-card-title>
    </ion-card-header>

    <ion-card-content >
      
      Bengaluru (also called Bangalore) is the capital of India's southern Karnataka state. The center of India's high-tech industry, the city is also known for its parks and nightlife.    
     </ion-card-content>

    
  </ion-card>

  
  <ion-card class="CardImg" >
    <img class="img" id="img4" src="https://images.unsplash.com/photo-1485756884019-5519df92d868?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" />
    <ion-content>
      <ion-fab  vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button color="light" id="fab"(click)="like('img4')" >
          <ion-icon name="heart" id="heart" ></ion-icon>
        </ion-fab-button>
      </ion-fab> 
    </ion-content>

    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>London, UK</ion-card-title>
    </ion-card-header>

    <ion-card-content >
      London is the capital and largest city of England and the United Kingdom. The city stands on the River Thames in southeast England, at the head of its 50-mile (80 km) estuary leading to the North Sea. London has been a major settlement for two millennia.
    </ion-card-content>
  </ion-card>


  
  <ion-card class="CardImg" >
    <img class="img" id="img5" src="https://images.unsplash.com/photo-1505205296326-2178af1b47bf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" />
   
    <ion-content>
      <ion-fab  vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button color="light" id="fab" (click)="like('img5')" >
          <ion-icon name="heart" id="heart"></ion-icon>
        </ion-fab-button>
      </ion-fab> 
    </ion-content>

    <ion-card-header>
      
       <ion-card-subtitle>Destination</ion-card-subtitle>
    
       <ion-card-title>Paris, Europe</ion-card-title>     
    </ion-card-header>
   
    <ion-card-content >
      
      The most populous city of France. Since the 17th century, Paris has been one of Europe's major centres of finance, diplomacy, commerce, fashion, gastronomy, science and arts.       
      Paris is a major railway, highway, and air-transport hub served by two international airports.    

           
    </ion-card-content>

    
    
  </ion-card>


</ion-content>
